
<div>Pytanie numer: {{currentQuestionId}}</div>
<div>Liczba znajomych: {{score}}</div>
<div>
  <button (click)='changeQuestion(-1)'> PREVIOUS</button>
  <button (click)='changeQuestion(1)'>NEXT</button>
</div>

<div *ngIf="question">
  <div class="alert ">
      <app-post [person]="question.person" [text]="question.post" [postType]="'question'"></app-post>
  </div>
  
  <div *ngFor="let comment of comments">
      <app-post [person]="comment.person" [text]="comment.text" [postType]="'otherPerson'"></app-post>
  </div>

  <div *ngIf="showAnswers">
    <div *ngFor="let answer of activeAnswers" (click)="pickAnswer(answer)"  >
      <app-post [person]="'Odpowiedz'" [text]="answer.text" [postType]="'answer'"></app-post>
    </div>
  </div>

  <div *ngIf="showConclusion" class="alert alert-info">
    <app-post [text]="question.conclusion"  [postType]="'conclusion'" ></app-post>
  </div>
</div>
