
<div>Pytanie numer: {{currentQuestionId}}</div>
<div>Liczba znajomych: {{score}}</div>
<div>
  <button (click)='changeQuestion(-1)'> PREVIOUS</button>
  <button (click)='changeQuestion(1)'>NEXT</button>
</div>

<div *ngIf="question">
  <div class="alert alert-warning">
    <b>{{question.person}}</b>
     {{question.post}}
  </div>

  <div *ngFor="let comment of comments" class="alert alert-dark">
    <b>{{comment.person}}</b> {{comment.text}}
  </div>

  <div *ngIf="showAnswers">
    <div *ngFor="let answer of activeAnswers" (click)="pickAnswer(answer)" class="alert alert-primary" >
      <b>Ty</b> {{answer.text}}
    </div>
  </div>

  <div *ngIf="showConclusion" class="alert alert-info">{{question.conclusion}}</div>
</div>
