<!-- PYTANIE / KOŚ-->
<style>
  .card-body{
    padding: 0.7rem;
  }
  .person-img{
    border: 1px solid #dee2e6;
    padding: 0.1rem;
    border-radius: 50%;
    height:70px;
    width:70px;
    margin-right:10px;
    margin-bottom:10px;
  }
  .bg-light:hover{
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  .bg-warning {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
</style>

<div >
  <img *ngIf="postType!='question'"  [src]="pictureUrl" class="person-img" style="display:inline-block">
  <img *ngIf="postType=='question'"  [src]="'assets/pyski/'+pysk" class="person-img" style="display:inline-block">

  <div  [ngClass]="'card mb-3 '+ postTypeSelector[postType]"  style="max-width: 80rem; display:inline-block">
      <div class="card-body">
        <div *ngIf="showPost" class="card-text"><b>{{person}}: </b> {{text}}</div>
        <div *ngIf='picture'><img  [src]="'assets/questions/'+picture" class="img-fluid" /></div>
        <div width="400" *ngIf="!showPost" >
          {{loader}}
        </div>
        <div *ngIf="video">
          <iframe width="1535"
          height="761"
          [src]="video"
          frameborder="0"
          allow="autoplay;
          encrypted-media"></iframe>
        </div>
      </div>
  </div>
</div>
