<!-- PYTANIE / KOŚ-->
<style>
  .card-body{
    padding: 0.7rem;
  }
  .person-img{
    border: 1px solid #dee2e6;
    padding: 0.1rem;
    border-radius: 50%;
    height:70px;
    width:70px;
    margin-right:10px;
    margin-bottom:10px;
  }
  .bg-light:hover{
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  .bg-warning {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  .img-fluid{
    max-height:400px;
  }
</style>

<div >
  <img *ngIf="postType!='question'"  [src]="pictureUrl" class="person-img" style="display:inline-block">
  <img *ngIf="postType=='question'"  [src]="'assets/pyski/'+pysk" class="person-img" style="display:inline-block">

  <div  [ngClass]="'card mb-3 '+ postTypeSelector[postType]"  style="max-width: 80rem; display:inline-block">
      <div class="card-body">
        <div *ngIf="showPost" class="card-text"><b>{{person}}: </b> {{text}}</div>
        <div *ngIf='picture'><img  [src]="'assets/questions/'+picture" class="img-fluid" /></div>
        <div width="400" *ngIf="!showPost" >
          {{loader}}
        </div>
        <div *ngIf="video?.changingThisBreaksApplicationSecurity" 
          class="embed-responsive embed-responsive-16by9">
          <iframe 
            class="embed-responsive-item" 
            id="player" type="text/html" 
            [src]="video" 
            frameborder="0">
          </iframe>
        </div>
      </div>
  </div>
</div>
<!-- src="https://www.youtube.com/embed/cJXe-kIKVbQ?enablejsapi=1&origin=http://example.com" -->
